* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ddd;
}
#root {
  width: 750px;
  height: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 8px #eee;
  font-size: 18px;
  font-weight: 400;
}
ul,
ol {
  padding: 30px 0 10px 30px;
}
hr {
  margin: 20px 0;
}
p {
  padding-left: 10px;
  line-height: 28px;
}

a {
  color: rgb(181, 0, 252);
  text-decoration: none;
}
a:visited {
  color: rgb(16, 170, 131);
  text-decoration: line-through;
}
